#hakkimda {
  position: relative;
  animation: mymove 2s;
  
}


@keyframes mymove {
  from {left: 200px;}
  to {left: 0px;}
}

/*
bu style sheeti ilk sayfayada ekle ve buraya tıklayınca onun da kayacak şekilde çalışmasını sağla
*/
