:root{
  --postbasligi:#deb881;
  --kucukbaslikrengi:#758184;
}



/* CONTAINER */




/* HEADER */

.header{
  font-size: 0.5rem;
  
}
.header > .postAdi{
  font-size: 2.5rem;
  color:var(--postbasligi);
  margin-bottom: 3px;
  transform: translateY(600px);
  animation: slideDown .8s ease forwards 0.8s;
}

.header h2{
  transform: none;;
  animation:none;
}
.header >.bloglink a{
 
  margin-left:0px;
  color:var(--kucukbaslikrengi);
 
}
.header h3{
  color:dimgray;
  font-size: 15px;
  font-weight: 200;
  transform: translateY(650px);
  animation: slideDown .8s ease forwards 0.9s;
}

.main{
  font-weight: 350;
  animation: slideUp .5s ease forwards 1s;
}

.footer{
  margin: 0 auto 0 auto;
  text-align: center;
}


@media only screen and (min-width: 768px){

  .header > .postAdi{
  max-width:20rem; 

  color:var(--postbasligi);
  margin-bottom: 3px;
}

}



@keyframes slideDown {
  0% {
    transform: translateY(-350px);
  }
  100% {
    
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 600px){
 overflow-x: hidden; 
overflow-y: scroll; /* has to be scroll, not auto */
-webkit-overflow-scrolling: touch;
}
