:root{
  --postbasligi:#deb881;
  --kucukbaslikrengi:#758184;
}



/* CONTAINER */
.container{
  flex-direction: column;
}

/* HEADER */

.header > .postAdi{
  text-align: center;
  font-size: 2.5rem;
  color:var(--postbasligi);
  margin-bottom: 3px;
  transform: translateY(600px);
  animation: slideDown .6s ease forwards 0.6s;
}
.postAdi h1{
   margin-left: 0px;
}
.header h2{
  transform: none;;
  animation:none;
}

.header >.bloglink a{
 
  margin-left:0px;
  color:var(--kucukbaslikrengi);

 
}
.header h3{
  color:dimgray;
  font-size: 15px;
  font-weight: 200;
  transform: translateY(650px);
  animation: slideDown .8s ease forwards 0.9s;
}

.main{
  font-weight: 450;
  animation: slideUp .5s ease forwards 1s;

}

.footer{
  margin: 0 auto 0 auto;
  text-align: center;
}



@media only screen and (min-width: 768px){

  .header > .postAdi{
  color:var(--postbasligi);
  margin-bottom: 0px;
  text-align: center;
}
.header h2{
  text-align:center;
}

}

@keyframes slideDown {
  0% {
    transform: translateY(-350px);
  }
  100% {
    
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 600px){
  html, body {width: auto!important; overflow-x: hidden!important} 
 
-webkit-overflow-scrolling: touch;
}
