/* GENERAL STYLING */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Raleway&display=swap');


* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
     margin: 0;
     padding: 0;
}

/* mavi gül kurusu tema
:root{
  --baslikrengi:#5d5b6a;
  --kucukbaslikrengi:#758184;
  --link:#ba7967;  // blog yazan yer 
  --socialrengi:#cfb495;
  --metinrengi:#5d5b6a;
  --overlay:;
}

/* mavi gül kurusu tema*/


/*  yeni tema*/
:root{
  --baslikrengi:#a35638;
  --kucukbaslikrengi:#e08f62;
  --link:#9dab86;  
  --socialrengi:#deb881;
  --metinrengi:dimgray;
  --cizgirengi:gray;
  --overlay:;
}



a{
	text-decoration: none;
}
html,body{
   height: 100%;
   margin: 0;
}
 /* CONTAINER */

.container {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  animation: expand .8s ease forwards;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .8s ease;
}


/* MAIN */

.main{
  align-self: center;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Dosis";
  margin: 0 auto 0 auto;
}

/* HEADER */
 h1, h2{
  transform: translateY(100px);
  animation: slideUp .8s ease forwards .5s;
}


.header{
 font-family: 'Comfortaa', cursive;;
 align-self: center;
  overflow: hidden;
  height: auto;

}

.header h1{
  color:var(--baslikrengi);
  font-weight: 600;
}
.header h2{
  color:var(--kucukbaslikrengi);
  font-size: 0.9rem;
  margin: 0.7em;
  margin-top: 0.01em;
}


/* NAVBAR */


/* GİRİŞ YAZISI */ 

.girisYazisi{
 
  margin: 10px;
  text-align: left;
  border-bottom: 1.5px solid var(--cizgirengi);
  padding: 5px;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 400;

}
.girisYazisi p{
   color:var(--metinrengi);
  transform: translateY(100px);
  animation: slideUp .8s ease forwards .8s;
}


/* BLOG ICON */
.blog{
   margin-top: 20px;
   overflow: hidden;

}
.blog a {
  font-size: 2rem;
  padding: 8px 12px;
  padding: 10px;
  font-weight: 600;
  color: var(--link);
  font-weight: 300;
}

.blog p{
  padding: 10px;
  margin:7px;
  transform: translateY(100px);
  animation: slideUp .8s ease forwards 1s;
}
.blog:hover{
    transform: scale(1.03);
}
.blog a:hover{
  border-radius: 10px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* SOCIAL ICONS */

.socialicons{
  overflow: hidden;
 
}
.socialicons a{
  overflow: hidden;
  margin-top:20px;
  margin-right:20px;
  transform: translateY(100px);
  animation: slideUp .8s ease forwards 1.2s;
  color: var(--socialrengi);

}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--overlay);
}


@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}


@media only screen and (max-width: 600px){

  .main{
    max-width: 600px;
  }


}
