
.readMore{
	float: right;
	text-decoration: none;
	margin-right:11px;
}

.kucuk-resim{
  display: block;
  width: 150px;
  float:left;
  margin-right: 15px;
}

.post{
	border:2px solid gray;
	margin: 20px;
	padding: 20px;	
	font-family: 'Roboto', sans-serif;
}
.main{
	padding-top:20px;
	padding-bottom:20px;
	font-family: 'Roboto', sans-serif;

}

.header, .navbar{
	background-color: white;
}

