
.clearfix {
  overflow: auto;
}


/* CONTAINER */

.container{
	width: 100%;
	margin: 0 auto 0 auto;
}

a{
	text-decoration: none;
	color:black;
}

/* NAVBAR SECTION */

	.navbar{
	
		display: flex;
		justify-content: center;
		padding: 10px;
		font-family: 'Dosis', sans-serif;
		
	}

    .navbar a{
		text-align: center;
  		border-style: 2px solid black;
 	    border-radius: 10px;
		display: inline;
		padding: 14px 20px;
	}
	.navbar a:hover{
		 background-color: #ddd;
 		 color: black;
	}


/* HEADER SECTION */

.header{
	
}
.header h1{
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-family: 'Dosis', sans-serif;
}

.header h2{
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-family: 'Dosis', sans-serif;
	font-weight: 424;
}


/* MAIN SECTION	*/

.main{
	
	background-color: white;
	width: 50%;
	margin: 0 auto 0 auto;
	font-family: 'Courier';
	  line-height: 1.2;
}

/* FOOTER SECTION */


.footer{
	text-align: center;
}

.social-icons{
	
	margin: 0 auto 0 auto;
}


/* ABOUT ME 

p{
	position: relative;
  animation: mymove 2s;
  transition: opacity 0s 2s, opacity 2s linear;

}


@keyframes mymove {
  from {left: 0px;}
  to {left: -200px;}
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}*/
